<p>My contact information is:
  <ul>
    <li>Address: <a href="https://goo.gl/maps/9byxHTaT99x" title="Address">123 Fake Street</a></li>
    <li>Telephone: 555-2368</a></li>
    <li>Email: <a href="mailto:pandythebroh@pandythebroh.org" title="PandyTheBroh@pandythebroh.org">PandyTheBroh@pandythebroh.org</a></li>
    <li>Github ID: <a href="https://github.com/PandyTheBroh" title="PandyTheBroh">PandyTheBroh</a></li>
    </ul>
</p>
